<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>Welcome</title>
  </head>
  <body>
  	<form>
  		<div id="radioButtons">
  		<p>Happy</p>
  		<input type="radio" name="Emotion" value="Happy">
  		<p>Frustration</p>
  		<input type="radio" name="Emotion" value="Frustration">

  		<p>Stress</p>
  		<input type="radio" name="Emotion" value="Stress">

  		<p>Relaxed</p>
  		<input type="radio" name="Emotion" value="Meditative">
  	</div>
  	</form>
    <h1>Welcome to your new realtime app!</h1>
  </body>
</html>