<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>Welcome</title>
  </head>
  <body>
  	<form>
      <fieldset>
        <select name="radioButtonList" id="radioButtons" MULTIPLE SIZE=4>
          <option value="Happy">Happy
          <option value="Frustration">Frustration
          <option value="Stress">Stress
          <option value="Meditative">Relaxed
        </select>
      </fieldset>
  	</form>

     <p id="headerSelectList">Compare:</p>
      <fieldset>
        <select name="selectableApps" id="selectList" MULTIPLE SIZE=4>
          <option value="IE">Internet Explorer
          <option value="Firefox">Firefox
          <option value="Chrome">Chrome
          <option value="Safari">Safari
        </select>
      </fieldset>
    
    <form>
        <input class="btn btn-primary" type="button"
        value="Back" id="appToggle">
    </form>
    <h1>EmoTrac!</h1>
    
  </body>
</html>